<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CLO.Properties.Settings.ProjectBConnectionString"
            connectionString="Data Source=DESKTOP-CKQK4QS\SQLEXPRESS;Initial Catalog=ProjectB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CLO.Properties.Settings.ProjectBConnectionString1"
            connectionString="Data Source=NUMAIR;Initial Catalog=ProjectB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>